/*头部*/
.navbar {
  margin-top: 0;
  margin-bottom: 0;
}
.navbar .navbar-header img {
  display: block;
  height: 2.8em;
  margin-top: 0.35em;
}
.navbar .collapse .zb {
  display: inline-block;
  font-size: 24px;
  margin-left: 10px;
  margin-top: 6px;
}
.navbar .collapse .btn {
  padding: 3px 13px;
}
.navbar .collapse .navbar-form input,
.navbar .collapse .navbar-form button {
  margin-top: 3px;
}
.navbar .collapse .nav span {
  display: block;
  margin-right: 20px;
  line-height: 3.65em;
}
.navbar .collapse .nav .loginbut button {
  margin-bottom: -27px;
}
/*内容left*/
.cont-list {
  margin: 0 auto;
  min-width: 1140px;
  border: none;
}
.cont-list button {
  width: 100%;
  text-align: left;
  border: none;
  border-bottom: 2px solid white;
  background-color: #cbdde6;
}
.cont-list .cont-list-left {
  display: block;
  background-color: #cbdde6;
  width: 15%;
  height: 800px;
}
.panel-group .panel-heading {
  border-bottom: 2px solid white;
}
.panel-default > .panel-heading {
  background-color: #cbdde6;
}
.panel-heading {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.panel-group {
  margin-top: 2px;
  border: none;
  border-bottom: 2px solid white;
}
.panel-group .panel + .panel {
  margin-top: 3px;
  border: none;
  background-color: #cbdde6;
}
.panel-group .panel {
  margin-bottom: 0;
  border-radius: 0;
  border: none;
}
.list-group {
  margin-bottom: 0;
}
.panel-body {
  padding: 0;
}
.form-control {
  height: 28px;
}
.list-group-item:first-child {
  border-radius: 0;
}
/*右边列表*/
.cont-list .table {
  width: 85%;
}
