<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>node.js实现表单上传与下载文件</title>
</head>
<body>
<form action="http://192.168.2.251:8000/fileUpDown/upload" method="post" enctype='multipart/form-data'  onsubmit="return checkTask(this)">
  <label for="resource">上传文档</label>
  <input type="file" id="resource" name="resource">
  <button type="submit">新建任务</button>
</form>
<form action="http://192.168.2.251:8000/fileUpDown/download1" method="get">
  <button type="submit">下载文件</button>
</form>
<form action="http://192.168.2.251:8000/fileUpDown/loadFile" method="post">
  <button type="submit">显示文件</button>
</form>

</body>
</html>
